@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body,
html {
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
	background-color: rgb(75, 75, 75);
	color: white;
}

#nb-li,
#basic-nav-dropdown {
	color: white;
}

.drop-menu {
	display: none;
}

@media (max-width: 420px) {
	#nb-li,
	#basic-nav-dropdown {
		display: none;
	}
	.drop-menu {
		display: block;
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 250px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -125px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.dropdown-menu {
	max-width: 80vw;
	overflow-y: auto;
	max-height: 200px;
}

.dropdown-menu .dropdown-item {
	white-space: normal;
}
